body{
    background-color:bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;    
}

.center{
    height: 500px;
    width: 500px;
    border: 5px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

body a {
    text-decoration: none;
    color: coral;
}